<!-- Hello World Angular
This is my title {{title}}
<br/>
My village ninja.s name is {{ninjaName}} 
<button type="button" (click)="ninjaConsole()">Console ninja</button>
<div>
<button type="button" (click)="ChangeNinjaName('Sakura')">Change Ninja Name Sakura</button>
<button type="button" (click)="ChangeNinjaName('Sasuke')">Change Ninja Name Sasuke</button>
<button type="button" (click)="ChangeNinjaName('Naruto')">Change Ninja Name Naruto</button>
</div> -->
<app-action-bar [step] = "5"></app-action-bar>
<br/>
<app-action-bar [step] = "10"></app-action-bar>
<br/>
<button type="button" (click)="testClick()" >test EventBinding</button>
